<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3 ">
                <a href="//www.facebook.com/Abdizriel">
                  {{fa-icon "fa-linkedin-square" size="lg" class="fa-social"}}
                </a>
                <a href="//www.linkedin.com/in/marcinmrotek">
                  {{fa-icon "fa-facebook-square" size="lg" class="fa-social"}}
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-offset-5 col-md-4">
                <p class="text-right font-light">© 2016 Marcin Mrotek. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>