<section class="hero-unit">
  <h1>I am working hard on making something awesome.</h1>
</section>

<section class="who-i-am">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-3">
              <img class="img-circle img-responsive" src="./assets/profile.jpg" />
            </div>
            <div class="col-md-9 text-center">
                <h1 class="font-light font-size-42 margin-bottom-20">Who am I</h1>
                <p class="font-size-18 font-line-height-28">
                    My name is Marcin Mrotek and I am a Software Engineer. I like many things like manga, anime, fantasy boks.
                    I am playing on electric guitar and keyboard. I have a girlfriend so don't try to flirt with me ;P
                </p>
            </div>
        </div>
    </div>
</section>

<section class="learn-more">
    <div class="container">
        <p class="text-center font-light font-size-28">Learn more about me <a href="//www.linkedin.com/in/marcinmrotek" target="_blank" class="font-extra-bold">@marcinmrotek</a></p>
    </div>
</section>