<div class="container text-center">
    <div class="row">
        <div class="col-md-12 login">
          <a {{action 'authenticateWithFacebook'}} class="font-size-42 font-extra-bold mouse-pointer">{{fa-icon "fa-facebook-square" size="lg" class="fa-social"}}
              Login with Facebook</a>
        </div>
    </div>
</div>